body {
  background-color: rgb(69 51 201 / 4%);
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43.5vh;
  width: 850px;
}

.events-paper::-webkit-scrollbar {
  width: 8px;
  /* width of the scrollbar */
}

.events-paper::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* color of the track */
}

.events-paper::-webkit-scrollbar-thumb {
  background: #888;
  /* color of the thumb */
  border-radius: 4px;
  /* roundness of the thumb */
}

@media (max-width: 1023px) {
  .text-center {
    width: 80vw; /* Adjust width for smaller screens */
  }
}